<form method="POST" id="signupForm" ng-submit="signupCtrl.submitForm()">
	<h3>Sign Up</h3>
	<div class="form-group">
		<label for="firstName">First Name</label>
		<input type="text" id="firstName" class="form-control" ng-model="signupCtrl.formData.firstName">
	</div>

	<div class="form-group">
		<label for="lastName">Last Name</label>
		<input type="text" id="lastName" class="form-control" ng-model="signupCtrl.formData.lastName">
	</div>

	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" id="username" class="form-control" ng-model="signupCtrl.formData.username">
	</div>

	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" id="email" class="form-control" ng-model="signupCtrl.formData.email">
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" id="password" class="form-control" ng-model="signupCtrl.formData.password">
	</div>

	<div class="user-attr form-group">
		<span class="attr-title">Admin</span>
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="signupCtrl.formData.admin">
		    <label class="onoffswitch-label" for="myonoffswitch">
		        <span class="onoffswitch-inner"></span>
		        <span class="onoffswitch-switch"></span>
		    </label>
		</div>
	</div>

	<button type="submit" class="btn btn-success">Submit</button>

	<h3>Already have an account? <a ui-sref="login">Sign in!</a></h3>
</form>