a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.users {
	width: 40%;
	height: 500px;
	overflow-y: scroll;
	float: left;
	margin: 0 5%;

	.user {
		.admin-label {
			font-weight: 700;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.user-card {
	float: left;
	width: 40%;
	margin: 0 5%;

	.user-attr {
		.attr-title {
			display: block;
			font-weight: 700;
		}
	}
}