<form ng-submit="apCtrl.updateUser()" id="updateUser">
	<button class="btn btn-danger" ui-sref="users">Cancel</button>
	<button class="btn btn-success" type="submit">Save</button>
	<div class="admin-panel">
		<div class="user-card panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{ apCtrl.currentUser.username }}
				</h3>
			</div>
			<div class="list-group">
				<div class="user-attr list-group-item">
					<span class="attr-title">Full Name</span>
					<input class="form-control" type="text" ng-model="apCtrl.currentUser.fullName">
				</div>
				<div class="user-attr list-group-item">
					<span class="attr-title">Email</span>
					<input class="form-control" type="text" ng-model="apCtrl.currentUser.email">
				</div>
				<div class="user-attr list-group-item">
					<span class="attr-title">Admin</span>
					<div class="onoffswitch">
					    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-checked="apCtrl.currentUser.admin" ng-model="apCtrl.currentUser.admin">
					    <label class="onoffswitch-label" for="myonoffswitch">
					        <span class="onoffswitch-inner"></span>
					        <span class="onoffswitch-switch"></span>
					    </label>
					</div>
				</div>
				<div class="user-attr list-group-item" ng-repeat="(info, attr) in apCtrl.currentUser.etc">
					<span class="attr-title">{{ info | capitalizeFirstLetter }}</span>
					<input class="form-control" type="text" ng-model="attr">
				</div>
			</div>
		</div>	
	</div>		
</form>