<form ng-submit="apCtrl.updateUser()" id="updateUser">
	<div class="form-buttons">
		<div class="btn-group pull-left">
			<button class="cancel btn btn-danger" ui-sref="users">Cancel</button>
		</div>
		<div class="btn-group pull-right">
			<button class="save btn btn-success" type="submit">Save</button>	
		</div>
		<h3 class="editUser">Edit User</h3>
	</div>
	<div class="admin-panel">
		<div class="user-card panel panel-default">
			<div class="panel-heading">
				<span class="attr-title">Username</span>
				<input class="form-control" type="text" ng-model="apCtrl.currentUser.username">
			</div>
			<div class="list-group">
				<div class="user-attr list-group-item">
					<span class="attr-title">First Name</span>
					<input class="form-control" type="text" ng-model="apCtrl.currentUser.firstName">
				</div>
				<div class="user-attr list-group-item">
					<span class="attr-title">Last Name</span>
					<input class="form-control" type="text" ng-model="apCtrl.currentUser.lastName">
				</div>
				<div class="user-attr list-group-item">
					<span class="attr-title">Email</span>
					<input class="form-control" type="text" ng-model="apCtrl.currentUser.email">
				</div>
				<div class="user-attr list-group-item">
					<span class="attr-title">Admin</span>
					<div class="onoffswitch">
					    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-checked="apCtrl.currentUser.admin" ng-model="apCtrl.currentUser.admin">
					    <label class="onoffswitch-label" for="myonoffswitch">
					        <span class="onoffswitch-inner"></span>
					        <span class="onoffswitch-switch"></span>
					    </label>
					</div>
				</div>
				<div class="user-attr list-group-item" ng-repeat="(info, attr) in apCtrl.currentUser.etc">
					<span class="attr-title">{{ info | capitalizeFirstLetter }}</span>
					<input class="form-control" type="text" ng-model="apCtrl.currentUser.etc[info]">
				</div>
			</div>
		</div>	
	</div>	
</form>