<ul class="list-group">
	<li class="list-group-item" ng-repeat="user in usersCtrl.users">
		<a ng-click="usersCtrl.showOneUser(user)">
			<span ng-if="user.admin">Admin<br></span>
			<span>{{ user.username }}</span> <br>
			<span>{{ user.firstName + ' ' + user.lastName }}</span>
		</a>
	</li>
</ul>

<div class="oneUser">
	<span ng-if="usersCtrl.oneUser.admin">Admin</span>
	<span>{{ usersCtrl.oneUser.username }}</span>
	<span>{{ usersCtrl.oneUser.firstName }}</span>
	<span>{{ usersCtrl.oneUser.lastName }}</span>
</div>